{% extends 'layout.html' %}

{% block content %}
<form action="/albums/{{ album.id }}/update" method="POST">
  <label for="title">Title</label>
  <input type="text" name="title" id="title" value="{{ album.title }}">

  <select name="artist_id">
  {% for artist in artists %}
    {% if artist.id == album.artist_id %}
        <option value="{{ artist.id }}" selected>{{ artist.name }}</option>
    {% else %}
        <option value="{{ artist.id }}">{{ artist.name }}</option>
    {% endif %}
  {% endfor %}
  </select>

  <label for="stock">Stock</label>
  <input type="number" name="stock" id="stock" value="{{ album.stock }}">

  <input type="submit" value="Submit">
</form>
{% endblock %}
