{% extends 'layout.html' %}

{% block content %}
<p><a href="/albums/new">New Album</a></p>
<table>
  <thead>
    <tr>
      <th>Album Title</th>
      <th>Artist</th>
      <th>Stock Quantity</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for album in albums %}
    <tr>
      <td><a href="/albums/{{ album.id }}">{{ album.title }}</a></td>
      <td><a href="/artists/{{ album.artist().id }}">{{ album.artist().name }}</a></td>
      <td class="stock-level--{{ album.stock_level() }}">{{ album.stock }}</td>
      <td>
        <form action="/albums/{{ album.id }}/delete" method="POST">
          <input type="submit" value="Delete!">
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
