<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% if title %}
      <title>{{ title }} | Big Al's Record Store</title>
  {% else %}
      <title>Big Al's Record Store</title>
  {% endif %}

</head>
<body>
  <nav>
    <h1>Big Al's</h1>
    <ul>
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('artists_index') }}">Artists</a></li>
    </ul>
  </nav>
  <hr />
  {% block content %}{% endblock %}
</body>
</html>
